<a href="https://colab.research.google.com/github/SamkitBansal/Data-Mining/blob/main/Numeric_Attributes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2.6 Given two objects represented by the tuples (22, 1, 42, 10) and (20, 0, 36, 8):
# (a) Compute the Euclidean distance between the two objects.
# (b) Compute the Manhattan distance between the two objects.
# (c) Compute the Minkowski distance between the two objects, using q

In [ ]:
def manhattan(a, b):

  n=len(a)
  dist=0
  for i in range(n):
    dist+= abs(a[i]-b[i])
  return dist

In [ ]:
def eucledian(a, b):

  n=len(a)
  dist=0
  for i in range(n):
    dist += (a[i] - b[i]) ** 2
  return dist ** 0.5

In [ ]:
def minkowski(a, b, q):

  n=len(a)
  dist=0
  for i in range(n):
    dist += abs(a[i] - b[i]) ** q
  return dist ** (1/q)

In [ ]:
def supremum(a, b):

  n=len(a)
  dist=0
  for i in range(n):
    dist= max(dist,  abs(a[i]-b[i]))
  return dist

In [ ]:
def main():

  a = []
  b = []

  n = int(input("Enter number of attributes: "))

  print("Enter attribute values for first tuple: ")
  for i in range(n):
      val = int(input())
      a.append(val)

  print("Enter attribute values for second tuple: ")
  for i in range(n):
      val = int(input())
      b.append(val)

  print("Manhattan Distance: ", manhattan(a, b))
  print("Euclidean Distance: ", eucledian(a, b))
  print("Minkowski Distance (p=3): ", minkowski(a, b, 3))
  print("Supremum Distance: ", supremum(a, b))

In [ ]:
if __name__ == "__main__":
  main()

Enter number of attributes: 4
Enter attribute values for first tuple:
22
1
42
10
Enter attribute values for second tuple:
20
0
36
8
Manhattan Distance:  11
Euclidean Distance:  6.708203932499369
Minkowski Distance (p=3):  6.153449493663682
Supremum Distance:  6